<!DOCTYPE html>
<html>

<head>

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/yourcode.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }


    .topnav {
      overflow: hidden;
      background-color: #e9e9e9;
    }

    .logo {
      float: left;
    }

    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }

    .topnav .login-container {
      float: right;
    }

    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
      width: 150px;
    }

    .topnav .login-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 10px;
      background-color: #555;
      color: white;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .topnav .login-container button:hover {
      background-color: green;
    }

    @media screen and (max-width: 600px) {
      .topnav .login-container {
        float: none;
      }

      .topnav a,
      .topnav input[type=text],
      .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }

      .topnav input[type=text] {
        border: 1px solid #ccc;
      }
    }

    .pull-left {
      text-align: left;
    }

    .con {
      overflow: hidden;
      background-color: white;
    }
  </style>
</head>

<body>




  <div class="topnav">
    <div class="logo">
      <img src="images/vcreate_logo.png" alt="Cinque Terre" width="150" height="44">
    </div>

    <a class="active" href="{% url 'index' %}"><b>Home</b></a>
    <a href="{% url 'about' %}"><b>About</b></a>
    <a href="{% url 'comp' %}"><b>Contest</b></a>
    <a href="https://fricle.pythonanywhere.com/newfeeds/"><b>Community</b></a>

  </div>


  <div class="con">



   <link rel="stylesheet" media="all" href="https://assets.eyeka.com/assets/application-a6e500957edf81c836f93d2493a2038b.css" />

    <meta href='/manifest.json' rel='manifest'>
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin,latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poppins:400,700&amp;subset=latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>


    <title ng-non-bindable>
      Summary | Future of Smartphone in 2025 – Design a future smartphone that changes our lives again, in 2025 -
      eÿeka
    </title>
    <!--
   <link rel="shortcut icon" type="image/x-icon" href="https://assets.eyeka.com/assets/eyeka/picto-B-circle-small-ab444f8bdcafcd5a6f84531c0222c2b2.png" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="gqDvZIHwCdWx+cMpZXoZUTZ8mAotTAhnDLNDlFczaORrHbnkGvQzEEdCjXgJAz+/GfFmEGuOb+RskQ8BNPs4AA==" />
    <link href='https://assets.eyeka.com/assets/eyeka/picto-B-circle-small-144x144-5d07286fef7d8479ba993c4ea02c7314.png' rel='apple-touch-icon-precomposed' sizes='144x144'>
    <link href='https://assets.eyeka.com/assets/eyeka/picto-B-circle-small-120x120-f6c42f7e390b4ec559aee82f3429f45e.png' rel='apple-touch-icon-precomposed' sizes='120x120'>
    <link href='https://assets.eyeka.com/assets/eyeka/picto-B-circle-small-144x144-5d07286fef7d8479ba993c4ea02c7314.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
    <link href='https://assets.eyeka.com/assets/eyeka/picto-B-circle-small-72x72-da1a56f270407d8c27933a9afcd2e656.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
    <link href='https://assets.eyeka.com/assets/eyeka/picto-B-circle-small-144x144-5d07286fef7d8479ba993c4ea02c7314.png' rel='apple-touch-icon-precomposed'>
    <link href='/opensearch.xml' rel='search' title='eÿeka' type='application/opensearchdescription+xml'>
    <meta content='Design a future smartphone that changes our lives again, in 2025 €7,000. Illustration and Creative Writing.' name='description'>
    <meta content='https://s3-ie.eyeka.com/ASSETS/700x490/a83a7cd2cd044300b8a755ffebaa44e8.jpg' property='og:image'>
    <meta content='eÿeka' property='og:site_name'>
    <meta content='on' http-equiv='cleartype'>
    <meta content='eÿeka' name='application-name'>
    <meta content='/browserconfig' name='msapplication-config'>
    <link rel="alternate" type="application/atom+xml" title="All Contests" href="/contests.atom" />
  -->
    <!--[lt IE 9]>
  <script>
    document.createElement('video');
    document.createElement('audio');
  </script>
  <![endif]-->
  <!--
    <link rel="stylesheet" media="screen" href="https://en.eyeka.com/contests/12077-future-of-smartphone-in-2025.css" />
  -->



    <meta content='auto' property='og:determiner'>
    <!--<meta content='https://en.eyeka.com/contests/12077-future-of-smartphone-in-2025' property='og:url'>-->
 <!--   <link href='https://en.eyeka.com/contests/12077-future-of-smartphone-in-2025/summary' rel='canonical'> -->




    <div id='wrapper'>
      <div id='applicationcontainer'>
        <div class='container-fluid' id='maincontainer'>
          <div class='row-fluid'>



            <br>
            <!-- CFE Cover -->
            <!--
            <div class='hero hidden-print'>
              <div class='gradient'>
                <div class='inner'>
                  <h1>
                    <span>
                    {{contest.title}}
                    </span>
                    <br>

                  </h1>
                </div>
              </div>
            </div>
          -->
            <!-- CFE Navigation -->


            <!-- CFE CONTENT -->
            <div class='container-fluid' id='innercontainer'>
              <div id='summary'>
                <!-- brief content -->
               <!--<span content='https://s3-ie.eyeka.com/JPG/400/bfaa8442520e46858698b2bdba58d555.jpg'> -->
                 <span content='{{content.poster.url}}'>
                      {% if contest.poster %}
                    <img  src="{{ contest.poster.url }}" alt="Avatar" style="height: 40% width:60%">
                    {% endif %}
                  <div class='inner'>

                    <div class='row-fluid'>
                      <div class='span8 contest-highlights'>
                        <div class='contest-prize'>
                          <div class='inner'>
                               {% if contest.prize %}
                            INR {{contest.prize}}<span class="local-currency" data-number="7500" prefix="approx. "></span>
                            {% endif %}
                          </div>
                        </div>
                        <div class='contest-prize-ab hidden'>
                          <div class='prize-group clearfix' id='jurys_prize'>
                            <h4>
                              Jury&#39;s Prize
                            </h4>
                            <ul class='clearfix prize-list'>
                              <li class='prize'>
                                <span class='prize-rank'>#1</span>
                                <small>Prize</small>
                                <span class='prize-label'><strong>&euro;2,800<span class="local-currency" data-number="2800" prefix="approx. "></span></strong></span>
                              </li>
                              <li class='prize'>
                                <span class='prize-rank'>#2</span>
                                <small>Prize</small>
                                <span class='prize-label'><strong>&euro;1,800<span class="local-currency" data-number="1800" prefix="approx. "></span></strong></span>
                              </li>
                              <li class='prize'>
                                <span class='prize-rank'>#3</span>
                                <small>Prize</small>
                                <span class='prize-label'><strong>&euro;1,200<span class="local-currency" data-number="1200" prefix="approx. "></span></strong></span>
                              </li>
                              <li class='prize'>
                                <span class='prize-rank'>#4</span>
                                <small>Prize</small>
                                <span class='prize-label'><strong>&euro;800<span class="local-currency" data-number="800" prefix="approx. "></span></strong></span>
                              </li>
                              <li class='prize'>
                                <span class='prize-rank'>#5</span>
                                <small>Prize</small>
                                <span class='prize-label'><strong>&euro;400<span class="local-currency" data-number="400" prefix="approx. "></span></strong></span>
                              </li>

                            </ul>
                          </div>
                        </div>
                        <div class='contest-timing'>
                          <div class='inner'>
                            <span content='2020-04-09T17:00:00Z'>
                              <span content='2020-05-04T15:59:00Z'>
 {% if contest.enddate %}
                        {% if live %}
                             Contest is LIVE
                             Ends on &nbsp {{contest.enddate}}
                        {% else %}
                        Contest Ended on {{contest.enddate}}

                        {% endif %}
        {% endif %}
                              </span>
                          </div>
                        </div>
                        <div class='content-format-ab hidden'>
                          <p>Present your idea with 2 high quality illustrations, so that we understand what it is and how it could work.</p>
                        </div>
                        <div class='content-short-desc-ab hidden'>
                          Easy submission form
                        </div>
                        <div class='contest-medium'>
                          <div class='inner'>
                            Illustration - Creative Writing
                          </div>
                        </div>
                      </div>
                      <div class='span15 offset1'>
                        <div class='editorial-content'>
                           <h2 class='text-center'>{{contest.title}}</h2>
                          <p>
                               {% if contest.description %}
                            {{contest.description}}
                            {% endif %}

                          </p>

                            <div class="columns download">
          <p>
              {% if contest.guidlines %}
             <a href=" {{contest.guidlines.url}}" class="button"><i class="fa fa-download"></i>Download guidlines</a>
            {% endif %}
          </p>
       </div>




                        </div>
                        <div class='editorial-content-ab hidden'>
                          Design a future smartphone that changes our lives again, in 2025
                        </div>

                        <div id="filesubmit">

                         <a href="{% url 'submitcontest' contest.id %}"> <button   >SUBMIT YOUR DESIGN </button></a>
                        </div>
                        <div class="">

                        </div>


                      </div>
                    </div>
                  </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>





  </div>









</body>

</html>